body {
  /* background: black;
  color: white; */
}

@font-face {
  font-family: "killer-boots";
  src: url(.././fonts/killer-boots.ttf) format("truetype");
}

@font-face {
  font-family: "Adistro";
  src: url(.././fonts/Adistro.otf) format("opentype");
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Adistro";
  font-size: 3rem;
}
